.container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: transparent;
  border-radius: 50px;
  width: 500px;
  height: 300px;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.container-bg-white
{
  background-color: white;
  border-radius: 50px;
  width: 500px;
  height: 300px;
  clip-path: polygon(0 0, 100% 47%, 100% 100%, 0% 100%);
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.container-bg-dark
{
  background-color: #9148f096;
  border-radius: 50px;
  width: 500px;
  height: 300px;
  clip-path: polygon(0 0, 100% 47%, 100% 100%, 0% 100%);
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.weather-data
{
  width: 200px;
  max-height: 180px;
  color: black ;
  margin-left: 20px;
  margin-top: 20px;
}
.weather-data h1 
{
  font-size: 4rem;
}
.weather-data h1::after
{
  content:  "°";
}
.weather-list
{
  font-size: 18px;
  display: flex;
  list-style: none;
  gap: 5px;
  flex-direction: column;
  margin-top: 10px;
  
}
/*  */
.weather-img-container
{
  width: 200px;
  height: 180px;
}
.weather-img
{
  max-width: 100%;
  object-fit: cover;
}
/*  */
.weather-info
{
  gap: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: auto;
  height: 100px;
  color: black
}
.weather-city
{
  width: 300px;
  height: 80px;
  text-align: justify;
}
.weather-city > h2
{
  font-size: 32px;
  margin-top: 50px;
}

.weather-description
{
  width: 150px;
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}

